/* Details.scss */

.details-container {
    width: 100vw;
    padding: 0;
    margin: 0;
    background: black;
    z-index: -1;
    overflow: hidden;
    display: flex;
    margin-left: 0;
}

.bg-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    filter: blur(4px) brightness(50%);
}

.contents {
    top: 40px;
    position: relative;
    padding: 30px 25px;
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
        width: 80%;
    }
}

.poster-img {
    padding: 20px 10px;
    margin: auto;

    img {
        border: 1px solid white;
        border-radius: 4px;
        width: 100%;
    }

    @media (max-width: 768px) {
        width: 100%;
        margin: 0%;

        img {
            width: 100%;
        }
    }
}

.info {
    position: relative;
    width: 55%;
    margin: auto;
    padding: 10px;
    color: white;

    h1 {
        font-size: 45px;
        text-transform: capitalize;
        margin-top: 20px;
    }

    p {
        font-size: 20px;
        padding-left: 15px;
        padding-top: 15px;
        line-height: 25px;
        letter-spacing: 1.1px;
        width: 80%;
    }

    button {
        display: flex;
        align-content: left;
        border: 1px solid white;
        padding: 15px;
        border-radius: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        background-color: transparent;
        color: white;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.tag-buttons {
    padding: 10px;
    font-size: 18px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;

    button {
        border: 2px solid white;
        padding: 8px 12px;
        border-radius: 20px;
    }
}

.ratings {
    padding-top: 0px;
    display: flex;

    p {
        font-size: 18px;
        text-transform: capitalize;
    }

    span {
        background-color: grey;
        padding: 6px 6px 0px 6px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        span {
            padding: 0;
        }
    }
}

.additional-buttons {
    display: flex;
    flex-direction: row;
}
